main > h1 {
  text-align: center;
}

.callout {
  border: 1px solid black;
  border-radius: 3px;
  padding: 20px;
  background-color: #c0fffe;
}

/* .border {
  border: 1px solid blue;
  border-radius: 5px;
  padding: 10px;
} */

body {
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
}

button {
  padding: 10px;
  border: none;
  margin: 10px;
}

.dark-theme {
  background-color: #333333;
  color: whitesmoke;
}

.light-theme {
  background-color: whitesmoke;
  color: #333333;
}
